/*--

copyright © 2013 parablan - Hector Alejandro Parada Blanco

parablanNews es un sistema libre de articulos, el cual 
puede ser modificado y redistribuido como cita la GPL v2. 

--*/


#palabra{
margin:20px 0 0 0;
color:orange;
height:20px;
/*bordes de INPUT redondeados*/
		-moz-border-radius:4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
}

#botonbuscar{
color:#afb191;
height:30px;
background-color:#ffffff;
cursor:pointer;
}
