/*--

copyright © 2013 parablan - Hector Alejandro Parada Blanco

parablanNews es un sistema libre de articulos, el cual 
puede ser modificado y redistribuido como cita la GPL v2. 

--*/


#palabra{
margin:20px 0 0 0;
color:#333333;
height:20px;
/*bordes de INPUT redondeados*/
		-moz-border-radius:20px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
}

#botonbuscar{
color:#333333;
height:30px;
background-color:#b7c5d5;
cursor:pointer;
}
