/*--

copyright © 2013 parablan - Hector Alejandro Parada Blanco

parablanNews es un sistema libre de articulos, el cual 
puede ser modificado y redistribuido como cita la GPL v2. 

--*/


#columnder p.fecha{
font-size:15pt;
color:#ffffff;
}

#columnder a{
padding:16px;
text-decoration:none;
color:#ffffff;
font-family:arial,helvetica;
font-weight:bold;
font-size:11pt;
}

#columnder img{
width:14%;
height:26%
}

#columnder hr{
color:#FE9A2E;
}

#columnder p{
font-size:6pt;
margin:8px;
font-weight:bold;
color:#E6E6E6;
font-family:'Trebuchet MS', sans-serif;
}

#columnder h3{
text-align:center;
color:#ffffff;
}
