/*--

copyright © 2013 parablan - Hector Alejandro Parada Blanco

parablanNews es un sistema libre de articulos, el cual 
puede ser modificado y redistribuido como cita la GPL v2. 

--*/


#menu a{
text-decoration:none;
color:#fd7e17;
font-family:arial,helvetica;
font-weight:bold;
font-size:20px;
}

#menu a:hover{
text-decoration:underline;
color:#f37272;
cursor:pointer;
}
