/*--

copyright © 2013 parablan - Hector Alejandro Parada Blanco

parablanNews es un sistema libre de articulos, el cual 
puede ser modificado y redistribuido como cita la GPL v2. 

--*/


body{
margin:0;
padding:0;
width:100%;
font-family:'Trebuchet MS', sans-serif;
text-align:center;/*para IE*/
background-image:url(/parablanNews/css/cielo/imagenes/fondo.jpg);
background-attachment: fixed; 
}

#wrapper{
border-color:black;
width:60em;
margin:0 auto;/*centrar*/
background-color:transparent;
}

#header{
position:absolute;
margin:4em 0em;

border-color:orange;
text-align:left;
background-color:transparent;
}

#banner{
position:absolute;
top:0em;
left:0em;;
}

#buscar{
position:relative;
top:0em;
left:46em;;
}

#menu{
border-color:blue;
margin:1em 0 1em 0;
line-height:3em;
height:3em;
background-color:transparent;

/*bordes de DIV redondeados*/
		-moz-border-radius:10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
/*cuadro con sombra box-shadow*/
                box-shadow: 0 0 18px 2px #ffffff;
/*para navegadores basados en Mozilla*/
                -moz-box-shadow: 0 0 18px 2px #ffffff;
/*para navegadores basados en Webkit*/
                -webkit-box-shadow: 0 0 18px 2px #ffffff;
}

#columnizq{
border:5px;
font-family:Arial, Helvetica, sans-serif;
background-image:url(/parablanNews/css/cielo/imagenes/desenfoque.png);
text-align:justify;
margin:10em 0em 2em 0em;
padding:16px;
color:#848484;
/*border de DIV redondeado*/
                -moz-border-radius:10px;
                -webkit-border-radius:10px;
                border-radius:10px;
/*cuadro con sombra box-shadow*/
                box-shadow: 0 0 2px 2px #ffecdd;
/*para navegadores basados en Mozilla*/
                -moz-box-shadow: 0 0 2px 2px #ffecdd;
/*para navegadores basados en Webkit*/
                -webkit-box-shadow: 0 0 2px 2px #ffecdd;
}

#columnder{
border:5px;
clear:both;
float:left;
background-color:#00528a;
width:100%;
font-family:Arial, Helvetica, sans-serif;
text-align:justify;
font-size:11pt;
margin:0em;
}

#footer{
clear:both;
text-align:left;
margin:0;
padding:10px 10px 10px;
}
